.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_card {
  gap: 2em;
  background-color: aliceblue;
  /* margin-top: 30px; */
}

.bg {
  height: 100vh;
  background-color: #04475B;
}

img {
  width: 20%;
}

ul {
  list-style: none;
}